<!--{template header,wap}-->
 <figure class="info cf">
        <div class="head-pic"> <img src="{$user['avatar']}" alt=""> </div>
        <h2>{$user['username']}<a class="sex sexed"></a> <a class="diamond_level "></a></h2>
        <p class="gray">
            {if $user['signature']}{$user['signature']}{else}暂无介绍{/if}
        </p> 
        
        
      
  <!--{if $user['uid']}-->
                <input type="button" class=" ui-btn focus-btn lightdeepgreen-linear button_attention" value="退出登录" id="attenttouser_{$user['uid']}" onclick="loginout();">
               <!--{/if}-->
            
    </figure>
    <div id="questions_tab_person">
        <div class="tab-btn tab-btn-4">
            <ul class="box_title cf">
                <li class="active"><span class="fs14 "><a href="{url user/space_ask/$user['uid']}">$questiontotal<br>
                    提问</a></span></li>
                <li class=""><span class="fs14"><a href="{url user/space_answer/$user['uid']}">$answersize<br>
                    回答</a></span></li>
                <!--{if $user['uid']}-->
                 <li class=""><span class="fs14"><a href="{url topic/userxinzhi/$user['uid']}">$rownum<br>
                    精华知识</a></span></li>
                    <li class=""><span class="fs14"><a href="{url favorite/default}">$total<br>
                    收藏</a></span></li>
                <!--{/if}-->
            </ul>
        </div>
        <div class="tab-con cf">
            <div class="questions-con move">
                <article>
                	
                    <ul class="questions-lists">
                       <!--{loop $favoritelist $favorite}-->
                            <li class="table">
                                <div class="ques-details">
                                    <h3 class="inline"><a target="_blank" title="{$favorite['title']}" href="{url question/view/$favorite['qid']}">{eval echo cutstr($favorite['title'],60)}</a></h3>
                                    
                                </div>
                            </li>
                          <!--{/loop}-->
                    </ul>
                    
                    
                </article>
                
                
            </div>
            <div class="pages">{$departstr}</div>
        </div>
    </div>
    <script>
    function attentto_user(uid) {
    	
        if (g_uid == 0) {
        	 showErrMsg("请先登录!");
        	 window.location.href="{url user/login}";
        }
        $.post(g_site_url + "index.php?user/attentto", {uid: uid}, function(msg) {
            if (msg == 'ok') {
                if ($("#attenttouser_"+uid).hasClass("button_attention")) {
                    $("#attenttouser_"+uid).removeClass("button_attention");
                    $("#attenttouser_"+uid).addClass("button_followed");
                    $("#attenttouser_"+uid).val("取消关注");
                } else {
                    $("#attenttouser_"+uid).removeClass("button_followed");
                    $("#attenttouser_"+uid).addClass("button_attention");
                    $("#attenttouser_"+uid).val("添加关注");
                }
            }
        });
    }
    
    </script>
     <script>
    function loginout() {
    	
     window.location.href="{url user/logout}";
    }
    
    </script>
    <!--{template footer,wap}-->