
	 
<!-- footer -->

<center><span style="font-size:12px;">WAP版权归属:<a href="{SITE_URL}">{$setting['site_name']}</a>  <!--{if $setting['site_statcode']}-->
            {$setting['site_statcode']}
            <!--{/if}--></span></center>

<!--end footer -->
<script type="text/javascript" src="{SITE_URL}js/wap/TY_m_2.0.js"></script>
<script type="text/javascript" src="{SITE_URL}js/wap/TYWenda.m.js"></script>
<div class="goTop" id="goTop" style="display: none;"></div>
<script type="text/javascript" charset="utf-8" src="{SITE_URL}js/wap/stat_20080313.js"></script>

<!--end footer -->

<script type="text/javascript">
	TYWenda.m.initPage.index();
</script>

</body></html>