<!--{template header,sowenda}-->
   <link href="{SITE_URL}css/sowenda/help.css" rel="stylesheet" />

<div id="bd" class="grid main-cnt">


	<title></title>

<!--导航 A-->
<div class="aside">
<h1><span>{$setting['site_name']}帮助</span></h1>

<div class="side-nav" id="menu">
<ul>
	<li>
	<h2>问答入门</h2>

	<ul>
		<li><a href="#1_1" index="1_1">什么是{$setting['site_name']}？</a></li>
		<li><a href="#1_2" index="1_2">如何搜索问题答案</a></li>
		<li><a href="#1_3" index="1_3">提问方法</a></li>
		<li><a href="#1_4" index="1_4">接收回答</a></li>
		<li><a href="#1_5" index="1_5">采纳满意答案</a></li>
		<li><a href="#1_6" index="1_6">回答方法</a></li>
	</ul>
	</li>
	<li>
	<h2>{$setting['site_name']}社区规则</h2>

	<ul>
		<li><a href="#5_1" index="5_1">社区规则概述</a></li>
		<li><a href="#5_2" index="5_2">作弊</a></li>
		<li><a href="#5_3" index="5_3">灌水</a></li>
		<li><a href="#5_4" index="5_4">广告性质的提问和回答</a></li>
		<li><a href="#5_5" index="5_5">违背伦理道德的提问和回答</a></li>
		<li><a href="#5_6" index="5_6">违反国家法律法规的提问和回答</a></li>
		<li><a href="#5_7" index="5_7">处罚规则详解</a></li>
		<li><a href="#5_8" index="5_8">权利声明和保护</a></li>
		<li><a href="#5_9" index="5_9">版权申明</a></li>
		<li><a href="#5_10" index="5_10">如何申诉</a></li>
	</ul>
	</li>
	<li>
	<h2>问答等级</h2>

	<ul>
		<li><a href="#7_1" index="7_1">什么是等级、经验</a></li>
		<li><a href="#7_2" index="7_2">等级规则</a></li>
		<li><a href="#7_3" index="7_3">获得经验值规则</a></li>
	</ul>
	</li>
	<li>
	<h2>问答金币、元宝</h2>

	<ul>
		<li><a href="#8_1" index="8_1">什么是金币和元宝</a></li>
		<li><a href="#8_2" index="8_2">金币的获得及扣减规则</a></li>
		<li><a href="#8_3" index="8_3">元宝的获得及扣减规则</a></li>
	</ul>
	</li>
	<li>
	<h2>知识商城</h2>

	<ul>
		<li><a href="#14_1" index="14_1">商城详情</a></li>
		<li><a href="#14_2" index="14_2">商城邮寄费用由谁承担</a></li>
		<li><a href="#14_3" index="14_3">兑换成功后多久可收到奖品</a></li>
		<li><a href="#14_4" index="14_4">兑奖信息提交注意事项</a></li>
	</ul>
	</li>
	<li>
	<h2>新知</h2>

	<ul>
		<li><a href="#12_1" index="12_1">什么是新知</a></li>
		<li><a href="#12_2" index="12_2">新知标准</a></li>
		<li><a href="#12_3" index="12_3">详细要求</a></li>
		<li><a href="#12_4" index="12_4">不通过原因</a></li>
	</ul>
	</li>
	<li>
	<h2>问答管理员</h2>

	<ul>
		<li><a href="#9_1" index="9_1">什么是管理员</a></li>
		<li><a href="#9_3" index="9_3">管理员职责</a></li>
		<li><a href="#9_4" index="9_4">管理员特权</a></li>
		<li><a href="#9_5" index="9_5">如何加入管理员</a></li>
	</ul>
	</li>
	<li>
	<h2>乐帮团</h2>

	<ul>
		<li><a href="#15_1" index="15_1">什么是乐帮团</a></li>
		<li><a href="#15_2" index="15_2">入团须知</a></li>
		<li><a href="#15_3" index="15_3">优秀团员奖励</a></li>
		<li><a href="#15_4" index="15_4">做任务须知</a></li>
		<li><a href="#15_5" index="15_5">宝箱玩法</a></li>
		<li><a href="#15_6" index="15_6">团员准则&amp;惩罚</a></li>
		<li><a href="#15_7" index="15_7">建团须知</a></li>
		<li><a href="#15_8" index="15_8">团队升级&amp;考核</a></li>
		<li><a href="#15_9" index="15_9">团队等级权限</a></li>
		<li><a href="#15_10" index="15_10">每月优秀团队奖励</a></li>
		<li><a href="#15_11" index="15_11">每月日常团队奖励</a></li>
	</ul>
	</li>
	<li>
	<h2>乐帮达人</h2>

	<ul>
		<li><a href="#11_1" index="11_1">什么是乐帮达人</a></li>
		<li><a href="#11_2" index="11_2">乐帮达人专属特权</a></li>
		<li><a href="#11_3" index="11_3">乐帮达人行为准则</a></li>
	</ul>
	</li>
	<li>
	<h2>企业平台</h2>

	<ul>
		<li><a href="#13_1" index="13_1">什么是企业平台</a></li>
		<li><a href="#13_2" index="13_2">企业平台欢迎哪些合作资源</a></li>
		<li><a href="#13_3" index="13_3">企业平台有什么优势</a></li>
		<li><a href="#13_4" index="13_4">如何申请合作</a></li>
		<li><a href="#13_5" index="13_5">企业平台合作双方的义务</a></li>
	</ul>
	</li>
	<li>
	<h2>其它</h2>

	<ul>
		<li><a href="#10_1" index="10_1">什么是采纳率</a></li>
	</ul>
	</li>
</ul>
</div>

<p class="tips">如以上信息仍无法解决您的问题请直接<a href="javascript:;" id="feedback_help">给我们留言</a></p>
</div>
<!--导航 Z--><!--article A-->

<div class="article" id="content">
<div class="mod" index="1_1" style="display: block;">
<div class="pic" style="margin-top:-5px;"><img alt="" src="http://p9.qhimg.com/t01dc77c42c3216a207.png"></div>

<h2>什么是{$setting['site_name']}</h2>

<p>{$setting['site_name']}是一个互助、分享的知识社区。网友们会把自己在工作、生活、学习中遇到的问题发布到{$setting['site_name']}，有相关知识、经验、专业技能的其他网友会来回答问题。如果回答被提问的网友采纳为满意答案，回答者还可以获得{$setting['site_name']}赠送的经验值和金币。高质量的问答数据还会被好搜搜索收录，从而被更多网友搜索和传播。</p>

<p>在开始使用{$setting['site_name']}之前，建议您先了解 <a href="#5_1" target="_blank">{$setting['site_name']}社区规则</a>。</p>
</div>

<div class="mod" index="1_2">
<h2>如何搜索问题答案</h2>

<p>打开{$setting['site_name']}的任意一个页面，在顶部搜索框中输入您的问题，然后点击【搜索答案】按钮，就可以搜索到相关答案了。例如，您如果想搜索“电脑死机”有关的问答，只需在搜索框中输入“电脑死机”，然后点击【搜索答案】按钮即可看到列出很多相关问题答案的搜索结果页。</p>

<div class="pic"><img alt="" src="http://p16.qhimg.com/d/_open360/wenda/help/sh0.png"></div>

<p>在搜索结果页上，您只需点击相应的问题链接便可以查看网友们对该问题的解答了。</p>

<div class="pic"><img alt="" src="http://p2.qhimg.com/t01037b81c61e5a77f2.png"></div>
</div>

<div class="mod" index="1_3">
<h2>提问方法</h2>

<p>如果没有搜索到满意的答案，您可以直接点击【提问】按钮进入到提问页面。</p>

<p>如下图：</p>

<div class="pic"><img alt="" src="http://p3.qhimg.com/t010cf163c398542113.png"></div>

<p>点击【添加图片】按钮，可以给问题配上相关图片，有时候一图胜千言，图片会让回答问题的网友更清楚了解您的问题。</p>

<p>适当的悬赏金币，会吸引更多的网友来回答您的问题。当您选择了满意答案后，悬赏的金币会被赠送给提供满意回答的网友。</p>

<p>如果问题涉及到您的隐私，您还可以选中提问框右下角的“匿名”选项，这样您的昵称就不会显示出来，其他网友也无法知道这个问题是谁问的了。</p>

<p>编辑成功后，点击【提交】按钮，就大功告成啦！</p>

<h2>补充提问</h2>

<p>提问成功后，一般很快就有网友回答您的问题啦！如果您发现收到的回答不够确切，可以点击【补充问题】，对提问进行补充描述。</p>

<p>如果回答的人比较少，可能是因为问题比较难，您可以点击【追加悬赏】，适当打点赏哦~这样能激励更多网友来回答您的问题。</p>

<div class="pic"><img alt="" src="http://p17.qhimg.com/d/_open360/wenda/help/q_007.png"></div>

<h2>追问</h2>

<p>如果针对某个网友的回答还想继续进行更多交流，可以点击此回答下的【追问】按钮，输入您的问题，然后点击【提交】，此时回答的网友就会收到通知消息。</p>

<div class="pic"><img alt="" src="http://p19.qhimg.com/t01d4c5a7a8f2868637.png"></div>
</div>

<div class="mod" index="1_4">
<h2>接收回答</h2>

<p>当网友回答了您的问题后，{$setting['site_name']}会给您发送消息通知。您会在网站的右上角看到未读的消息提示，点击即可查看新回答。</p>

<p>同时可以选择自己最满意的答案，以感谢回答的网友，也方便其他有相同问题的网友进行参考。</p>

<div class="pic"><img alt="" src="http://p15.qhimg.com/d/_open360/wenda/help/1.png"></div>
</div>

<div class="mod" index="1_5">
<h2>采纳满意答案</h2>

<p>如果有网友的回答解决了您的问题，别忘了选这个回答为满意答案哦。</p>

<p>及时采纳满意答案是对回答问题网友的感谢和肯定，也可以帮助其他有相同问题的用户。采纳满意答案，您也会获得一定的奖励哦~~</p>
</div>

<div class="mod" index="1_6">
<h2>在问题详情页回答</h2>

<p>点击问题链接即可进入问题的详情页，查看问题的详细内容。如果您知道问题的答案，请在输入框输入您的解答。</p>

<p>请注意：您的回答可能会被成千上万的网友看到，一个低水平的回答会浪费网友们的时间，因此请务必认真解答问题。</p>

<p>回答问题时可以上传图片进行作为补充资料，您上传的图片将作为回答的补充内容显示在您的回答之后。</p>

<p>如果您不希望自己的昵称显示出来，可以勾选回答框下方的“匿名”选项。</p>

<p>输入内容确认完毕之后，点击【提交回答】按钮即可发出您的回答。很快提问的网友就会收到通知。</p>

<div class="pic"><img alt="" src="http://p18.qhimg.com/d/_open360/wenda/help/i_ans.png"></div>

<h2>回答补充</h2>

<p>如果您回答已经提交，但是您想对回答内容进行补充，以便提问者更好地理解。此时您可先找到您的回答，然后点击下方的【继续补充】按钮，输入您的补充回答并提交。</p>

<div class="pic"><img alt="" src="http://p15.qhimg.com/d/_open360/wenda/help/i_ans_02.png"></div>

<h2>回答提问者的追问</h2>

<p>如果提问者对您的回答进行了追问，{$setting['site_name']}会通过右上角的消息盒子通知您，点击消息盒子中相应问题的链接，就可以查看到追问的内容并继续回答。</p>

<div class="pic"><img alt="" src="http://p15.qhimg.com/d/_open360/wenda/help/msg.png"></div>

<p>如果您对追问的问题了解，可以点击“继续补充”按钮，提交您的回答</p>

<div class="pic"><img alt="" src="http://p15.qhimg.com/d/_open360/wenda/help/001.png"></div>
</div>

<div class="mod" index="5_1">
<h2>社区规则概述</h2>

<p>{$setting['site_name']}致力于建立一个友善、温暖的知识分享社区，我们希望这里有真实的问题，真诚的回答。为此，我们制定了{$setting['site_name']}社区规则，以维护社区良好秩序。用户一旦使用{$setting['site_name']}社区服务，意味着用户接受并同意遵守社区规则条款。对于违反社区规则的用户，{$setting['site_name']}将采取删除问答、扣除经验值、扣除金币和元宝、封禁账号等管理措施予以处罚。</p>

<p>以下行为将被视为违反{$setting['site_name']}社区规则：</p>

<ul>
	<li>1. <a href="/?index/help.html#5_2" target="_blank">作弊</a></li>
	<li>2. <a href="/?index/help.html#5_3" target="_blank">灌水</a></li>
	<li>3. <a href="/?index/help.html#5_4" target="_blank">广告性质的提问和回答</a></li>
	<li>4. <a href="/?index/help.html#5_5" target="_blank">违背伦理道德的提问和回答</a></li>
	<li>5. <a href="/?index/help.html#5_6" target="_blank">违反国家法律法规的提问和回答</a></li>
</ul>
</div>

<div class="mod" index="5_2">
<h2>作弊</h2>

<p>【定义】：通过不正当手段、非公平形式或途径获取经验值和金币和元宝的行为，包括但不限于：</p>

<ul>
	<li>1、任何形式的转分、刷分、送分、自问自答行为；</li>
	<li>2、完全抄袭、复制其他楼层网友回答的；</li>
	<li>3、上下楼有明显抄袭的行为，按时间顺序后提交的回答；</li>
	<li>4、同一用户用相同的答案，对大量不同的问题进行回答的行为；</li>
	<li>5、短时间内大量提问都采纳同一用户的回答，提问者和回答者的行为；</li>
	<li>6、合理判断为作弊的其他行为。</li>
</ul>

<p>【处罚】：</p>

<ul>
	<li>1、涉及到作弊的提问和回答，将被全部删除；</li>
	<li>2、所有通过作弊行为获得的金币、元宝，将被全部扣除，并进行相应的额外扣除处罚；</li>
	<li>3、涉及到作弊行为的用户账号将被酌情封禁，情节严重者会被永久封禁。</li>
</ul>
</div>

<div class="mod" index="5_3">
<h2>灌水</h2>

<p>【定义】：在{$setting['site_name']}社区内发大量无意义的问答的行为，包括但不限于：</p>

<ul>
	<li>1、答非所问，答案和问题完全没有关系；</li>
	<li>2、使用火星文、乱码等文字；</li>
	<li>3、无意义的提问和回答， 例：2+3=？</li>
	<li>4、提交不构成问题的提问， 例：今天心情不好。</li>
	<li>5、提交的回答无实际意义， 例：顶 ，同上，赞同等回答 ；</li>
	<li>6、他人无法回答的提问，例如：我的女朋友叫什么名字？</li>
	<li>7、没有正面回答问题，只留有QQ号、电话号码等联系方式 ；</li>
	<li>8、短时间提交大量相同类型的简单提问 ；</li>
	<li>9、企业招聘或个人求职问题；</li>
	<li>10、大量使用{$setting['site_name']}链接作为回答；</li>
	<li>11、出现真实姓名（非公众人物）和提供具体联系方式的提问和回答 ；</li>
	<li>12、具有聊天、寻人、征友、评论等特点的内容 ；</li>
	<li>13、属于恶意、无聊、灌水范畴的讨论式提问 ；</li>
	<li>14、标题和补充中提供的信息不足以构成一个问题的提问 ；</li>
	<li>15、问答或评论内容包含有严重影响网友浏览的内容或格式 ；</li>
	<li>16、短时间内多次重复的提问 ；</li>
	<li>17、对于已经有了明确答案的问题，继续提交的类似答案；</li>
	<li>18、同一内容被用作多个提问的答复，且完全不针对提问 ；</li>
	<li>19、如何盗取别人QQ号或其他隐私的问题 ；</li>
	<li>20、合理判断为灌水的其他无价值内容 。</li>
</ul>

<p>【处罚】：</p>

<ul>
	<li>1、涉及到灌水的提问和回答，将被全部删除；</li>
	<li>2、所有通过灌水行为获得的金币、元宝，将被全部扣除，并进行相应的额外扣除处罚；</li>
	<li>3、涉及到灌水行为的用户账号将被酌情封禁，情节严重者会被永久封禁。</li>
</ul>
</div>

<div class="mod" index="5_4">
<h2>广告性质的提问和回答</h2>

<p>【定义】：在{$setting['site_name']}社区内发布带有商业目的的问答的行为，包括但不限于：</p>

<ul>
	<li>1、具有广告性质大量或重复发布指向同一网站的链接；</li>
	<li>2、涉及到任何物品交易（包括虚拟物品，如虚拟货币等）；</li>
	<li>3、宣传、发展传销活动；</li>
	<li>4、大量提及特定的机构、商品、服务等，尤其是提及医院、药品、保健品等类别的内容；</li>
	<li>5、发布招聘信息的内容；</li>
	<li>6、涉及求租、转让的内容，例：望京地区有转租住房的么？</li>
	<li>7、求网络游戏的内测账号和游戏账号的内容；</li>
	<li>8、为增加流量而故意引导他人到某个网站或论坛；</li>
	<li>9、对于昵称为手机号、QQ、非官方认证机构名称的账号，{$setting['site_name']}有权删除其历史数据；</li>
	<li>10、合理判断为广告性质问答的其他内容。</li>
</ul>

<p>【处罚】：</p>

<ul>
	<li>1、所有涉及到广告性质的提问和回答，将被全部删除；</li>
	<li>2、涉及到广告行为的用户账号，将被永久封禁。</li>
</ul>
</div>

<div class="mod" index="5_5">
<h2>违背伦理道德的提问和回答</h2>

<p>【定义】：在{$setting['site_name']}社区内发布违背伦理道德的问答的行为，包括但不限于：</p>

<ul>
	<li>1、包含违反社会公共道德的内容；</li>
	<li>2、宣扬颓废、消极的人生观 ；</li>
	<li>3、劝诱自杀，描写自杀方法和过程 ；</li>
	<li>4、教授侵犯他人权益的方法，如黑客、诈骗等 ；</li>
	<li>5、宣传或劝诱师生恋、外遇、乱伦等违反伦理道义的行为 ；</li>
	<li>6、歧视和贬低弱势群体，如残疾、老龄和经济状况较差等 ；</li>
	<li>7、涉及少数民族的一些有歧视、误导等的提问和回答；</li>
	<li>8、合理判断为违背伦理道德的其他内容 。</li>
</ul>

<p>【处罚】：</p>

<ul>
	<li>1、所有涉及到违背伦理道德的提问和回答，将被全部删除；</li>
	<li>2、涉及到违背伦理道德行为的用户账号，将被永久封禁。</li>
</ul>
</div>

<div class="mod" index="5_6">
<h2>违反国家法律法规的提问和回答</h2>

<p>【定义】：在{$setting['site_name']}社区内发布违反国家法律法规及相关规范的问答的行为，包括但不限于：</p>

<p>1、所有反对宪法所确定的基本原则的内容；</p>

<p>2、含有色情、暴力、恐怖内容，包括但不限于：散布淫秽色情信息；详细描写性器官、性行为和性心理；用户头像中含有色情、暴力、恐怖等信息；传播色情图片或其他色情内容；引诱他人见面发生性关系或卖淫；详细描写暴力行为过程和身心体验；详细描写恐怖事件和主观感受；雇佣、引诱他人从事暴力活动；恐吓他人等 。</p>

<p>3、含有反动内容，包括但不限于：危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一，恶意评价国家现行制度；恶意攻击政府机构与政府官员； 损害国家荣誉和利益；破坏国家宗教政策，宣扬邪教和封建迷信； 散布谣言破坏社会公共秩序，挑起民族、种族、宗教、地域等争端，破坏民族团结；煽动非法集会、结社、游行、示威、聚众扰乱社会秩序等。</p>

<p>4、含有人身攻击内容，包括但不限于：诽谤他人，散布虚假信息；侵犯他人肖像权、隐私权等其他合法权益；用粗言秽语侮辱他人，造成身心伤害；损害社会团体或组织的名誉等。</p>

<p>5、涉及违法犯罪的内容，包括但不限于：宣扬刑事犯罪；引诱或召集聚众赌博；宣扬行贿受贿；行骗欺诈等。</p>

<p>6、涉及到制毒、贩毒、吸毒、毒品传播等与毒品相关的任何违法内容；</p>

<p>7、涉及到危险品制造、传播、使用等与危险品相关的任何违禁内容；</p>

<p>8、含有中国法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其它内容。</p>

<p>【处罚】：</p>

<ul>
	<li>1、所有涉及到违法性质的提问和回答，将被全部删除；</li>
	<li>2、涉及到违法行为的用户账号，将被永久封禁。</li>
</ul>
</div>

<div class="mod" index="5_7">
<h2>{$setting['site_name']}社区处罚规则详解</h2>

<p>如果您违反{$setting['site_name']}社区规则，{$setting['site_name']}社区有权在不通知您的情况下，根据违规情节轻重，对用户帐号进行不同程度的处罚。处罚包括：</p>

<h2>一、删除规则</h2>

<p>所有涉及到上述违反{$setting['site_name']}社区规则的内容，{$setting['site_name']}都有权立即进行删除。</p>

<h2>二、金币扣除规则：</h2>

<div class="table_list">
<table width="100%">
	<thead>
		<tr>
			<th>操作</th>
			<th>提问者</th>
			<th>普通回答者</th>
			<th>达人回答者</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>提问被删除</td>
			<td>-10</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<td>补充提问被删除</td>
			<td>-5</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<td>追问被删除</td>
			<td>-5</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<td>回答被删除</td>
			<td>0</td>
			<td>-6</td>
			<td>-12</td>
		</tr>
		<tr>
			<td>满意回答被删除</td>
			<td>-2</td>
			<td>-16</td>
			<td>-22</td>
		</tr>
		<tr>
			<td>推荐回答被删除</td>
			<td>0</td>
			<td>-16</td>
			<td>-22</td>
		</tr>
		<tr>
			<td>推荐回答被撤销</td>
			<td>0</td>
			<td>-10</td>
			<td>-10</td>
		</tr>
		<tr>
			<td>补充回答被删除</td>
			<td>0</td>
			<td>-3</td>
			<td>-3</td>
		</tr>
	</tbody>
</table>

<p>*由于问题被删除而导致的回复、评论删除不单独扣除金币</p>
</div>

<h2>三、经验值扣除规则：</h2>

<p>根据被删除的内容的违规严重程度酌情判断扣除值，{$setting['site_name']}对判断享有绝对的决定权。</p>

<h2>四、账号封禁规则：</h2>

<p>1、根据违规内容和次数，将酌情对账号进行天数分别为3天、4天、8天和永久封禁的不同程度的封禁处罚，{$setting['site_name']}在社区规则范围内对处罚措施享有绝对的决定权；</p>

<p>2、所有触及上述{$setting['site_name']}社区规则中永久封禁条件的账号将被直接永久封禁；</p>

<p>3、一旦用户账号被永久封禁，{$setting['site_name']}有权删除所有历史数据；</p>

<p>4、{$setting['site_name']}账号被封禁后，在问答站内提问和回答无法提交，但不会影响该账号在其他好搜产品使用。</p>

<h2>五、申述：</h2>

<p>详细请参考<a href="###" id="goshensu">【如何申诉】</a>帮助页面</p>
<script>window.onload=function(){$("#goshensu").click(function(){$(".side-nav").find('a[index="5_9"]').click()})}</script></div>

<div class="mod" index="5_8">
<h2>权利声明和保护</h2>

<p>一、{$setting['site_name']}社区向用户提供信息存储空间和技术服务，用户自行发布问答内容，{$setting['site_name']}不会对用户发布的内容进行任何编辑或修改。用户发布的内容仅代表其与相关权利人的立场和观点，与好搜无关，好搜对其不提供任何明示或暗示的担保，不能对用户发表的回答或评论的正确性进行保证，不承担任何责任。用户应自行对其使用{$setting['site_name']}社区服务的一切行为和后果承担全部责任。</p>

<p>二、用户应保证对其发布的内容拥有著作权或获得著作权人或著作权代理人的合法授权，并保证该内容不侵犯任何第三方的合法权益，也不违反任何法律法规，可以在{$setting['site_name']}社区内合法使用。因用户所发布的内容导致任何法律纠纷，由用户承担全部的责任，并应赔偿好搜及相关权利人由此遭受的损失。</p>

<p>三、当第三方认为用户发表或者上传于{$setting['site_name']}社区的信息侵犯其权利，并根据《信息网络传播权保护条例》或者相关法律规定向好搜发送权利通知书时，用户同意好搜可以自行判断决定删除涉嫌侵权信息，除非用户提交书面证据材料排除侵权的可能性，好搜将不会自动恢复上述删除的信息。</p>

<p>四、当著作权人和 / 或依法可以行使著作权的权利人（权利人）发现{$setting['site_name']}社区的内容侵犯其著作权时，权利人应事先向好搜发出 “ 权利通知 ” ，好搜将根据中国法律法规和政府规范性文件采取措施移除相关内容或屏蔽相关链接。请按照 {SITE_URL}/help/help_right.html的具体步骤发出权利通知书。</p>

<p>五、任何机构或个人对从{$setting['site_name']}社区的服务中获得的信息，均应遵守该信息的权利人声明，不得擅自转载、引用及链接。未经好搜及相关权利人共同事先许可，任何机构或个人不得将{$setting['site_name']}社区中的任何内容用于商业、盈利目的。在不违反权利人声明的前提下用于非商业、非盈利目的时，应注明作者及出处“{$setting['site_name']}”。</p>

<p>六、未经好搜同意，不得使用任何机器人、蜘蛛、其他自动设备，或手动程序来监视或复制{$setting['site_name']}网页或其所包含的任何内容。如有违反，好搜有权依法追究法律责任。</p>

<p>七、对于用户发表到{$setting['site_name']}社区上的任何内容，用户同意{$setting['site_name']}在全世界范围内具有免费的、永久性的、不可撤销的、非独家的和完全再许可的权利和许可，以使用、复制、修改、改编、出版、翻译、据以创作衍生作品、传播、表演和展示此等内容（整体或部分），和/或将此等内容编入当前已知的或以后开发的其他任何形式的作品、媒体或技术中。</p>

<h2>其他</h2>

<p>一、好搜有权随时根据有关法律、法规的变化以及公司经营状况和经营策略的调整等修改本社区规则，而无需另行单独通知用户。修改后的社区规则会在{$setting['site_name']}网站（{SITE_URL}）上公布。用户可随时浏览社区规则条款。当发生有关争议时，以最新的规则文本为准。如果不同意好搜对本社区规则相关条款所做的修改，用户有权停止使用{$setting['site_name']}社区服务。如果用户继续使用{$setting['site_name']}社区服务，则视为用户接受好搜对本社区规则相关条款所做的修改。 </p>

<p>二、好搜在法律允许最大范围对本社区规则拥有解释权与修改权。</p>
</div>

<div class="mod" index="5_9">
<h2>版权声明</h2>

<p>{$setting['site_name']}的用户发布的内容不得违反国家相关法律法规、《{$setting['site_name']}社区规则》及其他帮助文档，不得侵犯任何第三方的合法权益（包括但不限于著作权等知识产权、肖像权、名誉权及其他合法权益），不得在未经授权的情况下转载他人在{$setting['site_name']}发布的内容。因用户所发布的内容导致任何法律纠纷，与{$setting['site_name']}无关，应由用户本人承担全部的责任，包括赔偿{$setting['site_name']}及相关权利人由此遭受的损失。用户点击发布即表示同意并确认本版权声明。</p>
</div>

<div class="mod" index="5_10">
<h2>一、如何申诉被封禁的账号（当您的回答/提问不符合{$setting['site_name']}规则被删除时，情况严重者会被封禁）</h2>

<p>1.账号封禁后，会收到系统消息，您可在系统消息入口进行申诉。</p>

<div class="pic"><img alt="" src="http://p2.qhimg.com/t011cffdc79e3194dd2.jpg"></div>

<p>2.账号封禁后，当再次提交回答/提问时，会提示消息，您可在此进行申诉。</p>

<div class="pic"><img alt="" src="http://p3.qhimg.com/t017c240470dad5a61a.jpg"></div>

<p>3.填写详细的申诉理由，点击“提交”按钮，进行申诉。</p>

<div class="pic"><img alt="" src="http://p1.qhimg.com/t01372ef1ca0d7b94dd.png"></div>

<h2>二、如何申诉被删除的回答/提问（当您的回答/提问不符合{$setting['site_name']}规范时，将会被删除）</h2>

<p>1.您可在个人中心“我的回答”/“我的提问”列表，点击左侧蓝色申诉按钮进行申诉</p>

<div class="pic"><img alt="" src="http://p4.qhimg.com/t01e409765e461ff9c9.png"> <img alt="" src="http://p8.qhimg.com/t0164f0b43ca5f1b1d8.png"></div>

<p>2.填写完详细申诉理由，点击“提交按钮”进行申诉。</p>

<div class="pic"><img alt="" src="http://p3.qhimg.com/t01007851ffd848a94d.png"></div>
</div>

<div class="mod" index="7_1">
<h2>什么是等级、经验值</h2>

<p>{$setting['site_name']}会根据用户所做出的贡献，给予用户相应数量的经验值。当经验值累加到一定值，被采纳、推荐的个数达到相应的标准，用户等级会有相应的提升。</p>

<p>在{$setting['site_name']}中，等级是用户贡献程度的标志。等级越高，说明用户分享自己的知识所帮助的网友越多。同时，高等级用户会有相应的特权哦！</p>
</div>

<div class="mod" index="7_2">
<h2>等级规则</h2>

<div class="table_list">
<table>
	<thead>
		<tr>
			<th width="200">等级</th>
			<th width="200">经验值</th>
			<th width="200">采纳、推荐总个数</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td>0</td>
			<td rowspan="10">0</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>10</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>20</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>30</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>40</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>60</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>80</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>100</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>120</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>160</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>210</td>
			<td>2</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>280</td>
			<td>4</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>360</td>
			<td>8</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>480</td>
			<td>16</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>620</td>
			<td>28</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>780</td>
			<td>44</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>940</td>
			<td>60</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>1120</td>
			<td>80</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>1300</td>
			<td>100</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>1500</td>
			<td>120</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>1800</td>
			<td>150</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>2200</td>
			<td>180</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>2600</td>
			<td>220</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>3200</td>
			<td>280</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>4000</td>
			<td>340</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>4800</td>
			<td>400</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>5600</td>
			<td>480</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>6500</td>
			<td>560</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>7500</td>
			<td>650</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>8500</td>
			<td>750</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>9600</td>
			<td>850</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>10800</td>
			<td>960</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>12000</td>
			<td>1080</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>13200</td>
			<td>1200</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>14400</td>
			<td>1350</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>16000</td>
			<td>1500</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>18000</td>
			<td>1700</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>21000</td>
			<td>2000</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>25000</td>
			<td>2400</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>29000</td>
			<td>2800</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>33000</td>
			<td>3200</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>37000</td>
			<td>3600</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>41000</td>
			<td>4000</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>45000</td>
			<td>4500</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>50000</td>
			<td>5000</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>56000</td>
			<td>5600</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>64000</td>
			<td>6400</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>72000</td>
			<td>7200</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>84000</td>
			<td>8400</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>100000</td>
			<td>10000</td>
		</tr>
	</tbody>
</table>

<h2>等级排行榜</h2>

<p>问答风云榜会展示{$setting['site_name']}等级最高的前200名用户，具体请点击<a href="{SITE_URL}/rank?type=3" target="_blank">等级排行榜</a>。</p>
</div>
</div>

<div class="mod" index="7_3">
<h2>经验值获取规则</h2>

<div class="table_list">
<table width="100%">
	<thead>
		<tr>
			<th>操作</th>
			<th>获得经验值</th>
			<th>经验值上限</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>每日登录问答</td>
			<td>+2</td>
			<td rowspan="6">无</td>
		</tr>
		<tr>
			<td rowspan="2">回答</td>
			<td>+2（普通回答者）</td>
		</tr>
		<tr>
			<td>+4（达人）</td>
		</tr>
		<tr>
			<td>回答被采纳</td>
			<td>+5</td>
		</tr>
		<tr>
			<td>回答被推荐</td>
			<td>+5</td>
		</tr>
		<tr>
			<td>采纳满意回答</td>
			<td>+2</td>
		</tr>
		<tr>
			<td>补充回答</td>
			<td>+1</td>
			<td>3/天</td>
		</tr>
		<tr>
			<td>给回答点赞或选择有帮助回答</td>
			<td>+1</td>
			<td>10/天</td>
		</tr>
	</tbody>
</table>
</div>
</div>

<div class="mod" index="8_1">
<h2>什么是金币</h2>

<p>金币是{$setting['site_name']}社区的基础货币值，相当于过去问答社区中的积分，是用户在问答社区帮助他人得到的奖励，可以通过提问、回答问题、做任务等多种途径获得，除了在知识商城中兑换商品外，可以用做提问悬赏来吸引更多的用户回答。</p>

<h2>什么是元宝</h2>

<p>{$setting['site_name']}社区中乐帮达人的专属财富值，可通过回答问题、做任务等途径获得，在知识商城中将有专属的元宝兑换区，达人用户可以使用元宝兑换到珍贵商品。</p>
</div>

<div class="mod" index="8_2">
<h2>金币的获得及扣减规则</h2>

<div class="table_list">
<table width="100%">
	<thead>
		<tr>
			<th>操作</th>
			<th>获得金币</th>
			<th>金币上限</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>每日登录问答</td>
			<td>+2</td>
			<td>2/天</td>
		</tr>
		<tr>
			<td rowspan="2">回答</td>
			<td>+2（普通回答者）</td>
			<td rowspan="5">无</td>
		</tr>
		<tr>
			<td>+4（达人）</td>
		</tr>
		<tr>
			<td>回答被采纳</td>
			<td>+10+悬赏金币</td>
		</tr>
		<tr>
			<td>回答被推荐</td>
			<td>+10</td>
		</tr>
		<tr>
			<td>采纳满意回答</td>
			<td>+2</td>
		</tr>
		<tr>
			<td>补充回答</td>
			<td>+1</td>
			<td>3/天</td>
		</tr>
		<tr>
			<td>给回答点赞或选择有帮助回答</td>
			<td>+1</td>
			<td>10/天</td>
		</tr>
		<tr>
			<td>提问被删除</td>
			<td>-10（提问者）</td>
			<td rowspan="12">无</td>
		</tr>
		<tr>
			<td>补充提问被删除</td>
			<td>-5（提问者）</td>
		</tr>
		<tr>
			<td>追问被删除</td>
			<td>-5（提问者）</td>
		</tr>
		<tr>
			<td rowspan="2">回答被删除</td>
			<td>-10（普通回答者）</td>
		</tr>
		<tr>
			<td>-12（达人）</td>
		</tr>
		<tr>
			<td rowspan="3">满意回答被删除</td>
			<td>-7-悬赏金币（普通回答者）</td>
		</tr>
		<tr>
			<td>-9-悬赏金币（达人）</td>
		</tr>
		<tr>
			<td>-2（提问者）</td>
		</tr>
		<tr>
			<td rowspan="2">推荐回答被删除</td>
			<td>-7（普通回答者）</td>
		</tr>
		<tr>
			<td>-9（达人）</td>
		</tr>
		<tr>
			<td>推荐回答被撤销</td>
			<td>-5（回答者）</td>
		</tr>
		<tr>
			<td>补充回答被删除</td>
			<td>-6（回答者）</td>
		</tr>
	</tbody>
</table>
</div>

<h2>连续回答所获额外金币规则</h2>

<p>用户连续回答问题，除了回答所获得的金币外，还有额外的金币奖励</p>

<p>例如：用户已经连续回答了4天，第5天只要再回答一个问题，就会获得5金币的额外奖励。此额外奖励一天只有一次哦。</p>

<div class="table_list">
<table width="100%">
	<thead>
		<tr>
			<th>连续回答天数</th>
			<th>额外金币奖励数额</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>5</td>
			<td>5</td>
		</tr>
		<tr>
			<td>15</td>
			<td>15</td>
		</tr>
		<tr>
			<td>50</td>
			<td>25</td>
		</tr>
		<tr>
			<td>100</td>
			<td>40</td>
		</tr>
		<tr>
			<td>150</td>
			<td>60</td>
		</tr>
	</tbody>
</table>

<p>注：用户每天最多获得1200金币</p>
</div>
</div>

<div class="mod" index="8_3">
<h2>元宝的获得及扣减规则：</h2>

<p>1、达人用户的回答被推荐或采纳后，将获得一个元宝</p>

<p>2、达人用户被推荐或采纳的答案被删除，将扣除三个元宝</p>

<p>3、任务奖励，不同的达人任务将奖励不同的元宝个数</p>

<p>4、其他活动奖励</p>

<p>注：达人用户每天获得元宝上限100个。</p>
</div>

<div class="mod" index="9_1">
<h2>什么是管理员</h2>

<p>{$setting['site_name']}管理员，是{$setting['site_name']}的秩序监控者，是由{$setting['site_name']}的核心用户组成，是由{$setting['site_name']}社区中富有管理天赋的忠实用户组成。</p>

<p>{$setting['site_name']}管理员，作为好搜的忠实用户，最活跃的用户，组成一个富有激情的用户团体。每位管理员将负责一个自己擅长的领域，并对{$setting['site_name']}社区的建设提出自己的意见，共同构建一个对用户负责，对网友有益，专业、高效的社区环境！</p>

<h2>管理员等级</h2>

<p>初级管理员——转移他主管的分类；举报全站的提问和回答</p>

<p>中级管理员——转移他主管的分类；推荐全站的满意答案；举报全站的提问和回答</p>

<p>高级管理员——转移全站的分类；推荐全站的满意答案；举报全站的提问和回答</p>

<p>超级管理员——转移全站的分类；推荐全站的满意答案</p>
</div>

<div class="mod" index="9_3">
<h2>管理员职责</h2>

<h2>职责1——转移分类</h2>

<p>由于某些粗心的同学没有留意，或理解错误，将问题分错分类，在社区内造成了一些麻烦，使他们不能更好的得到回答，也给答题者造成了麻烦，试想一下，你是一名医生，你关注医疗分类，而我却推荐给你电脑类的问题，一般情况下你无法提供优质的答案来解决，而这时，我们就应该将错误的分类转移到正确的分类下，使问题可以被分配给更专业的同学回答，让提问者获得更好的回答。</p>

<h2>职责2——举报垃圾</h2>

<p>社区中存在很多广告、色情、灌水、未构成提问、回答与提问无关的内容，影响正常用户获取到正确答案，甚至部分广告内容还会对用户造成误导，严重影响了{$setting['site_name']}的秩序&amp;网友的利益，所以我们要净化整个社区，让网友可以得到更真实，准确，可信赖的答案，让网友可以更便捷的浏览到他们想要的信息。所以，我们要对社区内的不良内容进行清理！还网友一个纯净的社区！</p>

<h2>职责3——选为满意</h2>

<p>在社区内有很多热心的网友给提问者帮助，他们的回答很好、很用心，但由于提问的同学没有及时的采纳他们的答案，使他们的热情得不到很好的回馈，相信你也遇到过这样的问题，那么现在，我们将会行使管理员的权利，为其他网友选择一个满意答案。</p>
</div>

<div class="mod" index="9_4">
<h2>管理员特权及福利</h2>
{$setting['site_name']}管理员是问答社区的核心管理团队，享有以下高于普通用户的特殊权利：

<p>Ø转移问题分类特权</p>
管理员拥有将所负责分类中分类不准确的问题转移到正确分类的权利。当管理员浏览自己管理的分类时，如发现问题因分类错误而进入本分类，有权直接将该问题转移到正确的分类。

<p>Ø 检举违规内容特权</p>

<p>管理员有权检举自己管理分类中违反{$setting['site_name']}社区规则的内容。管理员浏览自己管理的分类时，如发现广告、垃圾信息、无意义灌水等违反{$setting['site_name']}社区原则的内容，可以向官方直接检举。官方确认后会进行删除，维护分类数据的质量。对于高等级管理员，还将逐步开放直接删除违规内容的特权，让管理操作更简单直接。</p>

<p>Ø 推荐最佳答案特权</p>

<p>高等级管理员将获得推荐最佳答案的特权，可以为拥有优质答案的待解决问题推荐最佳答案，充分展示管理员的专业性。</p>

<p>Ø 专享福利</p>

<p>所有正式的{$setting['site_name']}管理员都享有高于普通用户的额外金币、实物奖品及购物卡等物质奖励；</p>

<p>Ø 官方直接沟通</p>

<p>所有正式管理员都享有和官方直接沟通的特权，官方会定期收集管理员们对{$setting['site_name']}社区发展的意见建议，并优先考虑和规划；同时管理员们也享有投诉绿色通道，管理员们的投诉将优先得到处理和解决；</p>

<p>Ø 丰富的个人品牌&amp;形象展示</p>

<p>所有管理员都享有特殊Icon&amp;展现的特权，优秀的管理员可以出现在管理团社区内做强展示，让更多的好搜网友看到你的优秀！</p>

<p>更多特权及福利请参考<a href="http://bbs.360safe.com/thread-4756839-1-1.html" target="_blank">{$setting['site_name']}管理员制度</a></p>
</div>

<div class="mod" index="9_5">
<h2>如何加入管理员</h2>

<p>如果您想加入{$setting['site_name']}管理员团队，成为一名管理员，请先加入您要申请的分类对应的管理员培养群，在培养群里提出管理员申请，会有各分类高级管理员、中级管理员与您联系沟通。</p>

<h2>各分类培养QQ群：</h2>

<p>电脑/网络 315704296</p>

<p>手机/数码 315909106</p>

<p>生活 326965267</p>

<p>游戏 114618695</p>

<p>体育/运动 166909940</p>

<p>娱乐明星 145784223</p>

<p>休闲爱好 331035910</p>

<p>文化/艺术 311564655</p>

<p>情感/家庭 185149055</p>

<p>社会民生 12702786</p>

<p>教育/科学 310756464</p>

<p>健康/医疗 302924418</p>

<p>商业/理财 231724213</p>

<p>地区问题 326724009</p>

<p>其它 326655782</p>

<p>沟通后如果您符合管理员要求，超级管理员、官方将会审核批准您的申请，您就将成为一名正式管理员。</p>

<p>&nbsp;</p>

<p>成为正式管理员之后，请在您所属的分类完成管理员任务，并接受官方及高级管理员的指导和培训。</p>

<p>&nbsp;</p>
</div>

<div class="mod" index="15_1">
<h2>什么是乐帮团</h2>

<p>乐帮团是将一群乐于助人且有共同兴趣爱好的人聚集在一起的问答新玩法。</p>

<p>每个团在团长的带领下，在为网友答疑解惑的同时，积累财富、壮大团队。</p>

<p>团员将拥有团队的专属标志且在答题更可享有额外奖励。</p>

<p>让团员在知识和经验的输出中，享受问答社区给予的荣誉，收获帮助别人的快乐。</p>

<ul>
	<li>1. &nbsp;<a href="/?index/help.html#15_2" target="_blank">入团须知</a></li>
	<li>2. &nbsp;<a href="/?index/help.html#15_3" target="_blank">优秀团员奖励</a></li>
	<li>3. &nbsp;<a href="/?index/help.html#15_4" target="_blank">做任务须知</a></li>
	<li>4. &nbsp;<a href="/?index/help.html#15_5" target="_blank">宝箱玩法</a></li>
	<li>5. &nbsp;<a href="/?index/help.html#15_6" target="_blank">团员准则&amp;惩罚</a></li>
	<li>6. &nbsp;<a href="/?index/help.html#15_7" target="_blank">建团须知</a></li>
	<li>7. &nbsp;<a href="/?index/help.html#15_8" target="_blank">团队升级&amp;考核</a></li>
	<li>8. &nbsp;<a href="/?index/help.html#15_9" target="_blank">团队等级权限</a></li>
	<li>9. &nbsp;<a href="/?index/help.html#15_10" target="_blank">每月优秀团队奖励</a></li>
	<li>10. <a href="/?index/help.html#15_11" target="_blank">每月日常团队奖励</a></li>
</ul>
</div>

<div class="mod" index="15_2">
<h2>入团须知</h2>

<div class="table_list">
<table width="100%">
	<tbody>
		<tr>
			<td style="text-align: left;">1、加入团队有门槛限制吗？</td>
			<td style="text-align: left;">a. 所有初级团队均无门槛限制，只要你是问答注册用户均可申请<br>
			b. 中级以上团队都有问答等级和采纳率要求（具体以每个团队设置为准）</td>
		</tr>
		<tr>
			<td style="text-align: left;">2、加入需要审核吗？</td>
			<td style="text-align: left;">a. 加入团队后需要所申请团队的团长审核<br>
			b. 审核通过后才能正式成为该团团员</td>
		</tr>
		<tr>
			<td style="text-align: left;">3、我可以申请多个团队吗？</td>
			<td style="text-align: left;">a. 可以一次申请多个团队<br>
			b. 但是最终只能属于一个团队<br>
			c. 当申请的某一个团队审核通过后，其他申请团队自动取消申请</td>
		</tr>
		<tr>
			<td style="text-align: left;">4、我能退团吗？</td>
			<td style="text-align: left;">a. 可以随时退团<br>
			b. 退团操作在“我的团队主页”，点击“已入团”选择下方“退团”按钮即可</td>
		</tr>
		<tr>
			<td style="text-align: left;">5、成为团员后的特权有哪些？</td>
			<td style="text-align: left;">a. 完成团队任务后，可获得额外金币奖励<br>
			b. 可开启团队每日签到宝箱，获得金币<br>
			c. 每月优秀团员可获金币奖励<br>
			d. 答题后会有所属团队的身份展示</td>
		</tr>
		<tr>
			<td style="text-align: left;">6、加入团队后我能做什么？</td>
			<td style="text-align: left;">a. 参与团队任务，和团队成员一起并肩作战<br>
			b. 升级成为副团长，和团长一起管理团队</td>
		</tr>
		<tr>
			<td style="text-align: left;">7、副团长的权限有哪些？</td>
			<td style="text-align: left;">a. 不能开除团长、副团长<br>
			b. 不能领取任务、取消任务<br>
			c. 其他权限和团长一致哦！</td>
		</tr>
	</tbody>
</table>
</div>
</div>

<div class="mod" index="15_3">
<h2>优秀团员奖励</h2>

<div class="table_list">
<table width="100%">
	<tbody>
		<tr>
			<td style="text-align: center;"><strong>TOP1</strong></td>
			<td style="text-align: center;"><strong>TOP2</strong></td>
			<td style="text-align: center;"><strong>TOP3</strong></td>
			<td style="text-align: center;"><strong>TOP4</strong></td>
			<td style="text-align: center;"><strong>TOP5</strong></td>
		</tr>
		<tr>
			<td style="text-align: center;">7000金币</td>
			<td style="text-align: center;">6000金币</td>
			<td style="text-align: center;">5000金币</td>
			<td style="text-align: center;">4000金币</td>
			<td style="text-align: center;">3000金币</td>
		</tr>
	</tbody>
</table>
<br>
<strong>注:&nbsp;</strong>按照每月在团队累计获得的推荐/采纳数的多少，选全部团队团员中前5名团员奖励。<br>
&nbsp;&nbsp; &nbsp;如果当月中途退团，然后再加入其它团队，则按照在其它团队的贡献计数。</div>
</div>

<div class="mod" index="15_4">
<h2>做任务须知</h2>
<strong>一、怎么领取任务？</strong>

<ul>
	<li>1.任务由团长在团长工作室领取任务</li>
	<li>2.领取任务后，任务为即刻生效，到当前周日24点结束</li>
	<li>3.除了领取当周，后续任务都是周一0点自动开启，周日24点结束</li>
	<li>4.每周二上午10点统一发放上周任务的额外奖励</li>
	<li>5.一个类型任务一次只能领取一个级别，取消当前级别后，可领取下一级别</li>
	<li>6.初级团仅可领1级任务，中级团可领1、2级任务，高级团、超级团可取1、2、3级任务。</li>
	<li>7.一个类型任务一次只能领取一个次，取消当前级别后，可领取其它级别。</li>
</ul>
<strong>二、我的回答怎么计入任务中?</strong>

<ul>
	<li align="left">1.如果当前进行中的零回答任务时间内，您回答的所有零回答都将会记录到任务中</li>
	<li align="left">2.如果当前进行中的推荐/采纳任务时间内，您获得的所有推荐/采纳都会记录到任务中</li>
</ul>
<strong>&nbsp; &nbsp;注：</strong><br>
&nbsp; &nbsp; &nbsp; &nbsp;如果在任务进行着退出团队，则退团之前的贡献依旧算在任务内<br>
&nbsp; &nbsp; &nbsp; &nbsp;如果任务完成你可以获得相应任务额外奖励<br>
&nbsp; &nbsp; &nbsp; &nbsp;如果在任务进行着退出团队，然后又进入团队，会累加之前的贡献数量<br>
&nbsp;<br>
<strong>三、怎么取消任务？</strong>

<ul>
	<li align="left">1.团长在团长工作室-任务管理中可以对正在进行中的任务选择“取消任务”</li>
	<li align="left">2.该周的周日24点自动关闭当前周任务，下周任务将不再开启。</li>
</ul>
<strong>四、任务奖励</strong>

<ul>
	<li align="left">任务完成后，根据每个团队成员的贡献个数对其发放奖励。团长可以获得全员额外奖励总金币数的5%，副团长可以获得全员额外奖励总金币数的2%。</li>
	<li><span style="color:#FF0000;"><strong>奖励发放时间：每周二发放上周任务奖励。</strong></span></li>
</ul>
<strong>五、任务类型&amp;要求&amp;奖励</strong>

<div class="table_list">
<table width="100%">
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td style="text-align: center;"><strong>&nbsp;1级</strong></td>
			<td style="text-align: center;"><strong>&nbsp;2级</strong></td>
			<td style="text-align: center;"><strong>&nbsp;3级</strong></td>
		</tr>
		<tr>
			<td><strong>零回答任务</strong></td>
			<td style="text-align: left;">任务描述：完成300个零回答<br>
			任务奖励：额外1金币/题</td>
			<td style="text-align: left;">任务描述：完成500个零回答<br>
			任务奖励：额外2金币/题</td>
			<td style="text-align: left;">任务描述：完成800个零回答<br>
			任务奖励：额外3金币/题</td>
		</tr>
		<tr>
			<td><strong>推荐/采纳任务</strong></td>
			<td style="text-align: left;">任务描述：获得200个采纳/推荐<br>
			任务奖励：额外5金币</td>
			<td style="text-align: left;">任务描述：获得300个采纳/推荐<br>
			任务奖励：额外10金币</td>
			<td style="text-align: left;">任务描述：获得500个采纳/推荐<br>
			任务奖励：额外15金币</td>
		</tr>
	</tbody>
</table>
</div>
</div>

<div class="mod" index="15_5">
<h2>宝箱玩法</h2>

<div class="table_list">
<table width="100%">
	<tbody>
		<tr>
			<td style="text-align: left;"><strong>开宝箱资格：</strong></td>
			<td style="text-align: left;">团员每天回答完一道题后可开一次宝箱</td>
		</tr>
		<tr>
			<td style="text-align: left;"><strong>开宝箱次数：</strong></td>
			<td style="text-align: left;">每个团员每天只能开一次宝箱</td>
		</tr>
		<tr>
			<td style="text-align: left;"><strong>开宝箱能得到的奖励：</strong></td>
			<td style="text-align: left;">1. 宝箱奖励分为：个人金币奖励、团队金币奖励<br>
			2. 只能单独获得个人奖励，或者单独获得团队奖励<br>
			3. 获得个人奖励时金币发放到个人帐号中<br>
			4. 获得团队奖励时金币发放到团队财富库中<br>
			5. 奖励金币数量都是随机的，如果你所在团队等级越高随机奖励会越高</td>
		</tr>
	</tbody>
</table>
</div>
</div>

<div class="mod" index="15_6">
<h2>团员准则&amp;惩罚</h2>

<div class="table_list">&nbsp;
<table width="100%">
	<tbody>
		<tr>
			<td colspan="4" style="width: 724px; height: 26px; text-align: center;">&nbsp;&nbsp; <strong>处罚范围</strong></td>
		</tr>
		<tr>
			<td colspan="4" style="width: 724px; height: 26px; text-align: left;"><strong style="text-align: center;">社区总规则</strong><br>
			●作弊<br>
			●灌水<br>
			●广告性质的提问和回答<br>
			●违背伦理道德的提问和回答、违反国家法律法规的提问和回答<br>
			注：具体细则见社区总则：{SITE_URL}/?index/help.html#5_1<br>
			<strong style="text-align: center;">乐帮团违规条例</strong><br>
			1、某个团队回答的问题或者获得的采纳集中在特定一批帐号。<br>
			2、合理判断为违规的其他行为。</td>
		</tr>
		<tr>
			<td colspan="4" style="width: 724px; height: 27px; text-align: center;"><strong>乐帮团处罚措施</strong></td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="width:106px;height:22px;"><strong>团员团队等级</strong></td>
			<td nowrap="nowrap" style="height:22px;"><strong>团队惩罚</strong></td>
			<td nowrap="nowrap" style="height:22px;"><strong>团长惩罚</strong></td>
			<td nowrap="nowrap" style="height:22px;"><strong>个人惩罚</strong></td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="width:106px;height:22px;">初级团</td>
			<td nowrap="nowrap" style="height:22px; text-align: left;">发现一个团员违规扣团队金币100</td>
			<td nowrap="nowrap" style="height:22px; text-align: left;">扣“团员违规问题数*5”金币</td>
			<td nowrap="nowrap" style="height:22px; text-align: left;">扣“团员违规问题数*5” 金币</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="width:106px;height:22px;">中级团</td>
			<td nowrap="nowrap" style="height:22px; text-align: left;">发现一个团员违规扣团队金币300</td>
			<td nowrap="nowrap" style="height:22px; text-align: left;">扣“团员违规问题数*10”金币</td>
			<td nowrap="nowrap" style="height:22px; text-align: left;">扣“团员违规问题数*10” 金币</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="width:106px;height:22px;">高级团</td>
			<td nowrap="nowrap" style="height:22px; text-align: left;">发现一个团员违规扣团队金币1000</td>
			<td nowrap="nowrap" style="height:22px; text-align: left;">扣“团员违规问题数*15”金币</td>
			<td nowrap="nowrap" style="height:22px; text-align: left;">扣“团员违规问题数*15” 金币</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="width:106px;height:23px;">超级团</td>
			<td nowrap="nowrap" style="height:23px; text-align: left;">发现一个团员违规扣团队金币3000</td>
			<td nowrap="nowrap" style="height:23px; text-align: left;">扣“团员违规问题数*15”金币</td>
			<td nowrap="nowrap" style="height:23px; text-align: left;">扣“团员违规问题数*15” 金币</td>
		</tr>
	</tbody>
</table>
</div>
<br>
<strong>注：</strong><br>
1、团员违反问答社区规则除了受到社区规则处罚之外，还将受到乐帮团的额外惩罚。<br>
2、由于团员违规，会牵连到团长和团队，所以团员的处罚按照违规行为产生时间团员所在的团队处罚相应团队和团长。<br>
3、受牵连的团队和团长可以对处罚提出异议，交由官方核实，如果核实为违规团员恶意构陷可取消对团队和团长处罚。</div>

<div class="mod" index="15_7">
<h2>建团须知</h2>

<div class="table_list">
<table width="100%">
	<tbody>
		<tr>
			<td style="width: 187px; text-align: left;"><strong>1</strong><strong>、如何成为团长？</strong></td>
			<td style="width: 520px; text-align: left;">创建一个团队即可成为该团队团长</td>
		</tr>
		<tr>
			<td style="width: 187px; text-align: left;"><strong>2</strong><strong>、创建团队的要求有哪些？</strong></td>
			<td style="width: 520px; text-align: left;">创建者问答等级≥17，采纳率≥30%</td>
		</tr>
		<tr>
			<td style="width: 187px; text-align: left;"><strong>3</strong><strong>、是否可以创建多个团队？</strong></td>
			<td style="width: 520px; text-align: left;">一次只能创建一个团队，再创建团队需要将当前团队解散</td>
		</tr>
		<tr>
			<td style="width: 187px; text-align: left;"><strong>4</strong><strong>、团长权利有哪些？</strong></td>
			<td style="width:520px; text-align: left;">a. 设置团队信息：是否升级、设置入团门槛、设置团队标签、是否解散团队<br>
			b. 审核用户入团申请<br>
			c. 管理团队：团员升级副团、开除团员<br>
			d. 任务管理：领取或者取消团队任务<br>
			e. 财富管理：支配团队财富-发放团队财富给团员</td>
		</tr>
		<tr>
			<td style="width: 187px; text-align: left;"><strong>5</strong><strong>、团长的金币奖励有哪些？</strong></td>
			<td style="width:520px; text-align: left;">a. 团长可以和普通团员一样参与团队任务，获得相应的任务额外奖励奖励<br>
			b. 团长可以获得整团成员获得的任务奖励金币的5%提成，副团得2%提成</td>
		</tr>
		<tr>
			<td style="width: 187px; text-align: left;"><strong>6</strong><strong>、团队财富怎么获取？</strong></td>
			<td style="width:520px; text-align: left;">a. 团员通过签到宝箱<br>
			b. 每月优秀团队奖励<br>
			c. 每月完成团队基本考核的奖励</td>
		</tr>
	</tbody>
</table>
</div>
</div>

<div class="mod" index="15_8">
<h2>团队升级&amp;考核</h2>

<div class="table_list">
<table width="100%">
	<tbody>
		<tr>
			<td style="width:90px;"><strong>团队等级</strong></td>
			<td style="width:217px;"><strong>升级条件</strong></td>
			<td style="width:284px;"><strong>每月考核条件</strong></td>
		</tr>
		<tr>
			<td style="width:90px;"><strong>初级团</strong></td>
			<td style="width:217px;">所有新建团队都是初级团</td>
			<td style="width:284px;">每月贡献至少100个采纳/推荐</td>
		</tr>
		<tr>
			<td style="width:90px;"><strong>中级团</strong></td>
			<td style="width:217px;">成为初级团后连续90天内<br>
			贡献采纳/推荐数累计大于等于：500</td>
			<td style="width:284px;">每月贡献至少200个采纳/推荐<br>
			连续3月完不成考核，团队降级</td>
		</tr>
		<tr>
			<td style="width:90px;"><strong>高级团</strong></td>
			<td style="width:217px;">成为中级团后连续90天内<br>
			贡献采纳/推荐数累计：2000</td>
			<td style="width:284px;">每月贡献至少500个采纳/推荐<br>
			连续3月完不成考核，团队降级</td>
		</tr>
		<tr>
			<td style="width:90px;"><strong>超级团</strong></td>
			<td style="width:217px;">成为高级团后连续90天内<br>
			贡献采纳/推荐数累计：5000</td>
			<td style="width:284px;">每月贡献至少1000个采纳/推荐<br>
			连续3月完不成考核，团队降级</td>
		</tr>
	</tbody>
</table>
</div>
</div>

<div class="mod" index="15_9">
<h2>团队等级权限</h2>

<div class="table_list">
<table width="100%">
	<thead>
		<tr>
			<th scope="col" style="width: 101px; height: 18px;"><strong>团队等级</strong></th>
			<th scope="col" style="width: 104px; height: 18px;"><strong>团队人数上限</strong></th>
			<th scope="col" style="width: 113px; height: 18px;"><strong>可领取任务</strong></th>
			<th scope="col" style="width: 113px; height: 18px;"><strong>入团门槛</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="width: 101px; height: 18px;"><strong>初级团</strong></td>
			<td style="width: 104px; height: 18px;">100</td>
			<td style="width: 113px; height: 18px;">可领1级</td>
			<td style="width: 113px; height: 18px;">不可设置</td>
		</tr>
		<tr>
			<td style="width: 101px; height: 18px;"><strong>中级团</strong></td>
			<td style="width: 104px; height: 18px;">200</td>
			<td style="width: 113px; height: 18px;">可领1、2级</td>
			<td style="width: 113px; height: 18px;">可自主设置</td>
		</tr>
		<tr>
			<td style="width: 101px; height: 18px;"><strong>高级团</strong></td>
			<td style="width: 104px; height: 18px;">500</td>
			<td style="width: 113px; height: 18px;">可领1、2、3级</td>
			<td style="width: 113px; height: 18px;">可自主设置</td>
		</tr>
		<tr>
			<td style="width: 101px; height: 18px;"><strong>超级团</strong></td>
			<td style="width: 104px; height: 18px;">1000</td>
			<td style="width: 113px; height: 18px;">可取1、2、3级</td>
			<td style="width: 113px; height: 18px;">可自主设置</td>
		</tr>
	</tbody>
</table>
</div>
</div>

<div class="mod" index="15_10">
<h2>每月优秀团队奖励</h2>

<div class="table_list">
<table width="100%">
	<tbody>
		<tr>
			<td style="width: 132px; text-align: center;"><strong>团队等级</strong></td>
			<td style="width: 132px; text-align: center;"><strong>TOP1</strong></td>
			<td style="width: 132px; text-align: center;"><strong>TOP2</strong></td>
			<td style="width: 132px; text-align: center;"><strong>TOP3</strong></td>
			<td style="width: 132px; text-align: center;"><strong>TOP4</strong></td>
			<td style="width: 132px; text-align: center;"><strong>TOP5</strong></td>
		</tr>
		<tr>
			<td style="width: 132px; text-align: center;"><strong>初级团</strong></td>
			<td style="width: 132px; text-align: center;">10000金币</td>
			<td style="width: 132px; text-align: center;">8000金币</td>
			<td style="width: 132px; text-align: center;">6000金币</td>
			<td style="width: 132px; text-align: center;">5000金币</td>
			<td style="width: 132px; text-align: center;">4000金币</td>
		</tr>
		<tr>
			<td style="width: 132px; text-align: center;"><strong>中级团</strong></td>
			<td style="width: 132px; text-align: center;">30000金币</td>
			<td style="width: 132px; text-align: center;">24000金币</td>
			<td style="width: 132px; text-align: center;">18000金币</td>
			<td style="width: 132px; text-align: center;">15000金币</td>
			<td style="width: 132px; text-align: center;">12000金币</td>
		</tr>
		<tr>
			<td style="width: 132px; text-align: center;"><strong>高级团</strong></td>
			<td style="width: 132px; text-align: center;">90000金币</td>
			<td style="width: 132px; text-align: center;">72000金币</td>
			<td style="width: 132px; text-align: center;">54000金币</td>
			<td style="width: 132px; text-align: center;">45000金币</td>
			<td style="width: 132px; text-align: center;">36000金币</td>
		</tr>
		<tr>
			<td style="width: 132px; text-align: center;"><strong>超级团</strong></td>
			<td style="width: 132px; text-align: center;">270000金币</td>
			<td style="width: 132px; text-align: center;">22000金币</td>
			<td style="width: 132px; text-align: center;">160000金币</td>
			<td style="width: 132px; text-align: center;">130000金币</td>
			<td style="width: 132px; text-align: center;">100000金币</td>
		</tr>
	</tbody>
</table>
</div>
<br>
<strong>注：</strong>

<ul>
	<li align="left">优秀团队按照每月完成的推荐/采纳数多少排名，每月奖励数据多的5个团队。</li>
	<li align="left">同时前5名团队也必须完成每月的考核条件，不然不发放优秀团队奖励。</li>
	<li align="left">如果有团员中途退团，则退团团员之前的对团队的贡献依旧是算在团队贡献里。</li>
</ul>
</div>

<div class="mod" index="15_11">
<h2>每月日常团队奖励</h2>

<div class="table_list">
<table width="100%">
	<tbody>
		<tr>
			<td style="width: 132px; text-align: center;"><strong>团队等级</strong></td>
			<td style="width: 132px; text-align: center;"><strong>奖励金额</strong></td>
		</tr>
		<tr>
			<td style="width: 132px; text-align: center;"><strong>初级团</strong></td>
			<td style="width: 132px; text-align: center;">2000金币</td>
		</tr>
		<tr>
			<td style="width: 132px; text-align: center;"><strong>中级团</strong></td>
			<td style="width: 132px; text-align: center;">6000金币</td>
		</tr>
		<tr>
			<td style="width: 132px; text-align: center;"><strong>高级团</strong></td>
			<td style="width: 132px; text-align: center;">20000金币</td>
		</tr>
		<tr>
			<td style="width: 132px; text-align: center;"><strong>超级团</strong></td>
			<td style="width: 132px; text-align: center;">60000金币</td>
		</tr>
	</tbody>
</table>
</div>
<br>
<strong>注：</strong>每月完成考核要求的团队，可获得日常奖励，日常奖励和优秀奖励可以累计获得。<br>
&nbsp;</div>

<div class="mod" index="11_1">
<h2>一、什么是乐帮达人</h2>

<p>乐帮达人是{$setting['site_name']}为知识丰富、乐于助人的高级用户定制的专属荣誉身份。成为乐帮达人，用您的知识和经验帮助其他网友，为他们答疑解惑，享受帮助别人的快乐！ 乐帮达人还享有高于普通用户的专属特权和荣誉标志，比如独有的达人身份标识、专属货币元宝等等，让您的知识在社区中被更多人看到，把您的荣耀展现给更多网友！</p>

<h2>二、如何申请达人</h2>

<p>加入达人要满足如下条件哦</p>

<p>1、乐于助人，愿意用自己的知识和经验帮助其他网友，以高质量的回答树立自己的达人形象；</p>

<p>2、在{$setting['site_name']}的至少一个分类领域拥有较丰富的经验或专业知识；</p>

<p>3、认可{$setting['site_name']}社区规则，没有广告、作弊封禁等异常记录；</p>

<p>4、{$setting['site_name']}用户等级17级以上（含17级），至少有60个回答被推荐或采纳为满意答案；</p>

<p>5、满足以上条件的{$setting['site_name']}用户即可申请成为达人，官方人员会审核您的申请，并根据您的情况决定是否通过。</p>
</div>

<div class="mod" index="11_2">
<h2>一、乐帮达人专属特权</h2>

<p>1、答题双倍金币、双倍经验</p>

<p>2、达人专属货币元宝</p>

<p>3、专属头衔标志展示</p>

<p>4、达人专属排行榜</p>

<p>5、达人之星评选</p>

<p>6、达人专属任务</p>

<h2>二、元宝获取规则</h2>

<p>1、达人用户的回答被推荐或采纳后，将获得一个元宝</p>

<p>2、任务奖励，不同的达人任务将奖励不同的元宝个数</p>

<p>3、其他活动奖励</p>
</div>

<div class="mod" index="11_3">
<h2>一、达人行为准则</h2>

<p>乐帮达人是{$setting['site_name']}社区精英用户的身份象征，请自觉维护达人形象，珍惜达人身份，严守达人行为准则。达人行为准则包括但不限于：</p>

<p>1、严格遵守{$setting['site_name']}社区规则，树立良好的达人形象</p>

<p>2、严禁通过不正当手段获得金币、经验值、元宝等奖励</p>

<p>3、提供高质量回答，形成优秀的达人口碑</p>

<p>4、内容排版精美，多使用图片、地图、音乐等高级编辑模式，让网友阅读更加顺畅</p>

<p>5、对内容负责，保证正确性，并且能切实解决提问者的疑惑</p>

<p>6、遵循言简意赅、条理清晰、客观公正、表述完整的答题原则</p>

<p>7、积极参与达人活动，例如：达人之星评选</p>

<h2>二、达人考核标准</h2>

<p>1、违反{$setting['site_name']}社区规则中<b>广告性质的内容、违背伦理道德的内容、违反国家法律法规的内容</b>三大行为准则的账号，一律直接取消达人身份，并且根据规定对于账号进行封禁等处理。</p>

<p>2、违反{$setting['site_name']}社区规则中<b>作弊、灌水</b>两大行为准则的账号，不仅将严格按照处罚标准进行处理，并且还将酌情对达人身份进行处罚。对于违规的达人：第一次，将进行警告处理；第二次，酌情扣除元宝等；第三次，取消达人身份，清除该账号下的元宝等达人专属荣誉。</p>

<p>3、凡是通过不正当手段获得的积分、元宝等奖励，一经查明，将全部扣除并且进行双倍处罚，同时取消该账号的所有达人相关荣誉。</p>

<p>4、在不违规的前提下，达人的回答因为质量低而被网友投诉，一经查实，将酌情进行处理：被举报回答个数累计达到3次，将警告处理；累计达到6次，将扣除500元宝；累计达到10次，将被取消达人身份。</p>

<p>5、对于违规严重的达人账号，{$setting['site_name']}将拒绝受理该真实姓名下的用户再次的达人申请。</p>

<p>6、其他任何可判断为不符合乐帮达人身份的行为，都将受到相应处罚， {$setting['site_name']}保留最终解释权。</p>

<p>* 以上考核处罚都将在{$setting['site_name']}论坛【达人专区】版块进行公开处理，接受广大网友监督</p>
</div>

<div class="mod" index="12_1">
<h2>什么是新知</h2>

<p>用户创建的知识性与经验性作品，通常包括简介、材料、方法等几个部分，其中方法详细的描述了达到目的的操作过程，便于学习和模仿,一般含有丰富的图片（如果必要），和简明的文字，通常和现实生活联系紧密，能帮助人们解决实际问题。</p>
</div>

<div class="mod" index="12_2">
<h2>新知标准</h2>

<p>1．文章必须包含简介，简介内容不可少于15个字，每个方法中文字不可少于30个字</p>

<p>2、内容不违反{$setting['site_name']}规则。</p>

<p>3、上传文字内容中不可以有灌水行为（内容和所回答区域的题目不符，或者重复），带有第一人称主观描述的（我们公司、我院等等称呼），因为一般带有第一人称的内容，字里行间难免出现夸大的情况。不予通过。</p>
</div>

<div class="mod" index="12_3">
<h2>详细要求</h2>

<h2>1、问题：需表述清晰，且具有一定的知识性、专业性，不个性化。</h2>

<p>1 知识性：该问题具有知识传播价值，可被其他和后来的用户学习、研究。</p>

<p>2 专业性：该问题具有专业价值，从一般大众认知的专业角度（科学研究、学术研究）具有被探讨、解读和研究的价值</p>

<p>3 复用性：问题可被沉淀，可为后来者提供普适的解决办法，不个性化</p>

<p>4 构成提问：提问内容清晰简洁，语句通顺，无明显错误。用简洁的文字提炼问题，不赘述；有针对性的提问，不寻求模糊空洞答案</p>

<p>5书写规范：句式、用词、标点符号严谨规范。无错别字；问题尽量不含有与问题本身无关的词语（例如：跪求大神，请问各位）；不规范的网络用语（例如：肿么办，为神马）；以及不规范的标点使用。</p>

<h2>2、回答：内容准确、全面、详实，具有较强的知识性和专业性，便于阅读。</h2>

<p>①准确：内容正确，能实际解决用户疑问，对提问者有较强的借鉴性和实质的帮助。</p>

<p>⑴相关性：回答对应性地解决了提问（有针对性），而不是提供大片不相关内容让用户自己去寻找有用信息，回答不空洞，内容详实，拒绝复制粘贴；</p>

<p>⑵客观性：观点中立，不偏激；措辞客观、准确、全面；逻辑清晰合理；</p>

<p>⑶精准：提供的信息精准客观，不模糊，减少个人色彩，如：姚明身高2.23米（7.32英尺），而非“姚明非常高，2米多吧”；</p>

<p>⑷问题的分类准确并至最小颗粒。</p>

<p>②全面：内容包含解答该疑问所需的所有必要信息和延展信息。内容要求：包含解决除解决问题的重点信息（必要信息）并有更加详细的补充说明，详细说明需紧紧围绕问题，可以是对回答内容的详细阐释，也可以是对于回答内容的适当扩展可在回答后提供数据、资料、文献引用来源。有一简单的评判标准是别人在阅读该回答时会不会想继续问“为什么”。</p>

<p>③可信：有参考文献：在答案后给出内容出处、参考文献等，补充时可添加简单的标注，简要介绍相应的文献和内容来源</p>

<p>加入参考文献有两种情况或者目的：</p>

<p>⑴引用：尊重他人的劳动成功，当回答中引用了他人的信息时，要于回答后表明原作者，来源和原文地址。</p>

<p>⑵扩展性：回答自身已经可以满足绝大多数读者了解该问题的需求，提供更多参考文献可以满足继续探寻和深入研究该问题的用户。文献的来源可信：资源来源机构/组织/人具有一定权威性，并尽量是第一首来源，而非转载等第二手来源。提问者自身：提问者自身于该领域具有相应的经验积累。</p>

<p>④可读：段首顶格，段与段之间空行。必要时可通过数字1、2、3、4或者用 • 来标注，使得内容你更加直观明确。加图 图片辅佐说明，为了更加明了生动的解答疑问，在回答中加入美观而富有关联信息的图片，会更易被人理解，增加说服力，达到图文并茂、事半功倍的效果。图片要求：大小、格式，美观，以解说内容为目的。</p>
</div>

<div class="mod" index="12_4">
<h2>审核不通过原因</h2>

<h2>1、标题不规范</h2>

<p>1.1 标题中含有广告信息，链接，涉及推广商家/产品名称，语义不顺畅等情况。</p>

<p>1.2 语义模糊，不符合逻辑。</p>

<p>1.3 涉及删除原则。</p>

<h2>2、内容不规范</h2>

<p>2.1 含有广告内容</p>

<p>内容中包括：用户名，文章中包含广告推广链接，个人QQ,手机号码等联系方式，出现推荐产品名，公司，厂家等</p>

<p>图片中包括：推广信息，推广水印等。</p>

<p>2.2 排版不合理</p>

<p>如：排版混乱，内容不具有可读性，结构性不明确，内容中不含图片等</p>

<p>2.3 内容不适合新知</p>

<p>如：心理测试，中小学生作文等</p>

<p>2.4. 内容涉及违反法律 宗教信仰等内容,或含有色情 暴力等内容</p>

<h2>3.图片不规范</h2>

<p>3.1. 图片中含有明显推广水印，或大面积影响阅读水印内容</p>

<p>3.2 图片涉及暴力 黄色 宗教 人身攻击等内容</p>

<p>3.3 图片与文字明显不符，无相关性</p>
</div>

<div class="mod" index="13_1">
<h2>什么是{$setting['site_name']}企业平台</h2>

<p>{$setting['site_name']}企业平台是开放、简单、高效、精准的企业服务平台，基于好搜网页搜索和{$setting['site_name']}的开放性知识分享平台，为有需要向用户进行相关领域问题解答的企业提供一个与用户简单沟通的桥梁，让该企业以精准的营销需求去为站外用户提供服务，增加该企业品牌影响力，更好的发挥知识分享的价值，帮助企业挖掘潜在用户。</p>
</div>

<div class="mod" index="13_2">
<h2>企业平台欢迎哪些合作资源</h2>

<p>我们欢迎所有有自己的问答类产品，具有一定用户基础，能产生一定数量问答数据的各类企业加入{$setting['site_name']}企业开放平台。</p>
</div>

<div class="mod" index="13_3">
<h2>企业平台有什么优势</h2>

<p>申请简单，只需填写简单的资料即可完成；完善的技术支持，由我们的工程师提供实时的在线帮助；灵活的使用方案，可由入驻企业自定义自己企业账号的服务属性；高效的服务接口，通过OPEN API的方式，实时推送相关问题给合作企业，满足企业的数据需求；潜在用户，通过即时的为用户提供专业满意答案，建立企业品牌影响力，延伸品牌价值，吸引目标用户。</p>
</div>

<div class="mod" index="13_4">
<h2>如何申请合作</h2>

<p>申请企业问答平台可直接在线申请，申请open API请发邮件至：malimei@360.cn申请。</p>
</div>

<div class="mod" index="13_5">
<h2>企业平台合作双方的义务</h2>

<p>合作企业提供：问答资源和内容，回答{$setting['site_name']}用户定向提问以及通过API接口输送的用户提问。 {$setting['site_name']}通过API接口提供企业所需问题内容，为合作企业提供品牌曝光位置和外链点击位置，提升企业的品牌影响，满足企业的流量需求。</p>
</div>

<div class="mod" index="10_1">
<h2>什么是采纳率</h2>

<p>采纳率是指用户针对提问的回答，被提问者采纳为满意答案的概率。采纳率体现了该用户的平均回答质量</p>

<h2>采纳率是如何计算的</h2>

<p>采纳率= (回答被采纳答案数+回答被推荐答案数)/参与回答中已解决问题数</p>

<p>注：“已解决问题”是指该问题下有答案被采纳或有答案被选为推荐答案</p>
</div>

<div class="mod" index="14_1">
<p>知识商城，是为问答、百科用户特意建立的网上商城，大家在问答、百科社区通过提问、回答、提交版本等一系列行为获得的金币、元宝奖励，可以用来在商城兑换心仪的商品，同时也可以消耗少量的金币抽奖赢取大礼。</p>

<h2>奖品分类</h2>

<p>知识商城的奖品分为虚拟和实物两种。虚拟奖品包含各类各类电子礼券，例如携程通用礼品卡、大闸蟹优惠券等。实物奖品除了各式各样的日常用品外，还有360公司周边产品，如定制安仔、书包等，更有360公司的硬件产品如安全路由器、360儿童手表、360家庭卫士等等，具有极高的使用价值和纪念意义。</p>

<h2>抽奖</h2>

<p>您可以使用金币在知识商城首页参加抽奖，每次抽奖将消耗10金币。抽奖消耗的金币当时支付，不再返还。</p>

<h2>兑换</h2>

<p>知识商城的奖品兑换分为元宝专区和金币专区。元宝专区，只能使用元宝进行兑换；金币专区，只能使用金币进行兑换。消耗一定数量金币或元宝即可获得相应的商品。</p>

<h2>我的商品库</h2>

<p>您在知识商城抽奖或兑换得到的所有奖品都将添加到“我的商品库”中，在这里可以查看奖品列表以及奖品信息，例如优惠券券码、实物奖品物流信息等。当您的实物奖品没有填写完收货地址的时候也可以在“我的商品库”中补充完整。</p>
</div>

<div class="mod" index="14_2">
<h2>邮寄费用由谁承担？</h2>

<p>所有实物的邮寄资费由知识商城承担。</p>

<p>利用优惠券兑换第三方实物商品的邮寄资费，请参考第三方商品兑换要求。</p>
</div>

<div class="mod" index="14_3">
<h2>兑换成功后多久可收到奖品？</h2>

<p>兑换成功后，知识商城的工作人员将在15日内将您的商品寄出，快递到达时间视情况而定，一般在1-2周之内。您可以登录知识商城“我的商品库”查看物流信息。</p>
</div>

<div class="mod" index="14_4">
<h2>兑奖信息提交注意事项</h2>

<p>填写真实有效的邮寄地址、邮编、收件人、联系电话和email地址，并保持电话畅通，这样能准确地签收商品。</p>

<p>请妥善保护自己的账号和密码，以免泄露个人信息。</p>
</div>
</div>
<!--Z-->
</div>
<script>
var href=window.location.href;
var hrefarray=href.split('#');

if(hrefarray.length>1){
	$("#content .mod").hide();
	$("#content .mod[index='"+hrefarray[1]+"']").show();
}
$(".side-nav ul li a").click(function(){
	
	var index=$(this).attr("index");
	$("#content .mod").hide();
	$("#content .mod[index='"+index+"']").show();
});

</script>
<!--{template footer,sowenda}-->