<!--{template header,sowenda}-->

   <link href="{SITE_URL}css/sowenda/list.combo.css" rel="stylesheet" />
       <div id="bd" class="grid-3 clearfix" style="    border: 1px solid #D5D5D5;">
  <!-- 左边导航-->
        <div >
        <div  class="quc-wrapper">
        <div class="quc-panel-bd">
<div class="quc-mod-sign-in quc-mod-normal-sign-in">

<div class="quc-main" style="    padding: 0;   margin: 0 auto;">
<form class="quc-form" name="loginform"  action="{url user/login}" method="post"    {if $setting['ucenter_open']==0}onsubmit="return checkform();"{/if}>
 <input type="hidden" name="forward" value="{$forward}"/>
<p class="quc-field quc-field-account quc-input-long">
<label class="quc-label" for="quc_account_183811257">帐&nbsp;&nbsp;&nbsp;号</label>
<span class="quc-input-bg">
<input class="quc-input quc-input-account" type="text" id="popusername" name="username" placeholder="手机号/用户名/邮箱" autocomplete="off" ></span>
</p>
<p class="quc-field quc-field-password quc-input-long">
<label class="quc-label" for="quc_password_183811258">密&nbsp;&nbsp;&nbsp;码</label>
<span class="quc-input-bg">
<input class="quc-input quc-input-password" type="password" id="poppassword" name="password" maxlength="20" placeholder="请输入您的密码" ></span>
</p>
  <!--{if $setting['code_login']}-->
<p class="quc-field quc-field-captcha quc-input-short" >
<label class="quc-label" for="quc_phrase_183811259">验证码</label>
<span class="quc-input-bg">
<input class="quc-input quc-input-captcha" type="text" id="code" name="code" onblur="check_code();" maxlength="7" autocomplete="off" placeholder="请输入验证码" ></span><span id="codetip"></span>
<img class="quc-captcha-img quc-captcha-change" src="{url user/code}" alt="验证码"  onclick="javascript:updatecode();" id="verifycode" title="点击更换" tabindex="99"> 
<a class="quc-link quc-captcha-change-link quc-captcha-change" href="javascript:updatecode();">换一张</a>
</p>
  <!--{else}-->
   <input type="hidden"  id="ischeck" name="ischeck" value="0"/>
       <!--{/if}-->
<p class="quc-field quc-field-keep-alive">
<label><input class="quc-checkbox quc-checkbox-keep-alive" type="checkbox"  id="cookietime" name="cookietime" value="2592000"  checked="checked">下次自动登录</label>
</p>

<p class="quc-field quc-field-submit"><input type="submit" value="登录" name="submit" class="quc-submit quc-button quc-button-sign-in"> </p>
<div class="quc-tip-wrapper"><p class="quc-tip quc-tip-error"></p></div>
<p class="quc-field quc-field-third-part">


  <!--{if $setting['sinalogin_open']}-->
  <span>其他帐号登录：</span>
<span class="quc-third-part">
  
            <a title="新浪微博登陆" href="{SITE_URL}plugin/sinalogin/index.php" title="新浪微博登陆" class="quc-third-part-icon quc-third-part-icon-sina"></a>
            </span>
            <!--{/if}-->
            <!--{if $setting['qqlogin_open']}-->
              <span>其他帐号登录：</span>
<span class="quc-third-part">
            <a  class="quc-third-part-icon quc-third-part-icon-fetion" title="QQ账号登陆" href="{SITE_URL}plugin/qqlogin/index.php"></a>
                </span>
            <!--{/if}-->

</p>
</form>
</div>
<div class="quc-footer">

<a class="quc-link quc-link-grey quc-link-sign-up" href="{url user/register}">注册新帐号</a>
<a class="quc-link quc-link-about quc-link-about-normal" href="{url user/getpass}" target="_blank">忘记密码？</a>


</div>
</div>
</div>
</div>
         </div>
        
        
   
        </div>
<!--{template footer,sowenda}-->