<!--{template header,sowenda}-->
 <link href="{SITE_URL}css/sowenda/user.combo.css" rel="stylesheet" />
 <link href="{SITE_URL}css/sowenda/base.combo.css" rel="stylesheet" />
    <link href="{SITE_URL}css/sowenda/myxinzhi.css" rel="stylesheet" />
    <div id="bd" class="clearfix">
  <div class="grid main-cnt">
          <!--{template user_menu,sowenda}-->


        <div class="content">
            <ul id="msg_tabs" class="tab clearfix">
                <li data-type="normal" class="current">
                    <a href="javascript:;">已发布（<em>0</em>）</a>
                </li>
                <li data-type="unpub"><a href="javascript:;">未发布（<em>0</em>）</a></li>
            </ul>
            <div id="msg_tabs_content" class="tab-boxs">

            <div class="box" style="display:block;">
                <p class="empty">您还没有发布的新知哦~  <a href="/user/addxinzhi/?q=" class="btn btn-2" style="line-height:20px;height:20px;">去发布</a></p>
            </div>
            </div>
        </div>


</div>

    </div>

<!--{template footer,sowenda}-->