<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="css/base.combo.css" rel="stylesheet" />
    <link href="css/xinzhi_list.css" rel="stylesheet" />

</head>
<body class="g-w980">

<!-- 顶部外部链接  -->
<div class="js-fixed">
    <div id="g-hd">
        <div id="g-hd-inner">
            <div id="g-hd-nav">
                <ul id="g-hd-tabs">
                    <li class=""><a data-home="http://news.haosou.com/?src=tab_wenda" data-s="http://news.haosou.com/ns?q=%q%&amp;src=tab_wenda" href="http://news.haosou.com/ns?q=&amp;src=tab_wenda">新闻</a></li>
                    <li class=""><a data-home="http://www.haosou.com/?src=tab_wenda" data-s="http://www.haosou.com/s?q=%q%&amp;src=tab_wenda" href="http://www.haosou.com/s?q=&amp;src=tab_wenda">网页</a></li>
                    <li class="g-hd-cur"><a data-home="http://wenda.haosou.com/?src=tab_wenda" data-s="http://wenda.haosou.com/search/?q=%q%&amp;src=tab_wenda" href="http://wenda.haosou.com/search/?q=&amp;src=tab_wenda">问答</a></li>
                    <li class=""><a data-home="http://video.haosou.com/?src=tab_wenda" data-s="http://video.haosou.com/v?q=%q%&amp;src=tab_wenda" href="http://video.haosou.com/v?q=&amp;src=tab_wenda">视频</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>
<div id="js-hd-nav-place" style="height:36px;"></div>

<!--站内公共头开始-->
<div class="mod-search">
    <div class="search clearfix">
        <h1 class="logo">
            <a href="/">好搜新知</a></h1>
        <div class="tools">
            <div class="has-login" style="display:none;">
                <!--  <div class="user-info"><a href="#" class="face"><img src="http://quc.qhimg.com/dm/100_100_100/t01923aea8f930365cd.jpg" /></a><a href="#" class="name">WDie123131312s</a><i class="arrow"></i></div><ul class="tools-opt"><li><a href="#">帐号设置</a></li><li><a href="#">个人中心</a></li><li><a href="#">帮助中心</a></li><li><a href="#" class="last js-signout">退出</a></li></ul> -->
            </div>
            <div class="no-login" style="">
                <a href="#" class="user-login js-signin">登录</a>
                <span>|</span>
                <a href="#" class="user-reg js-reg">注册</a>
            </div>
        </div>
    </div>
</div>

<div id="doc4">

    <div id="hd">
        <!--全局导航开始-->
        <div class="mod-main-nav">
            <ul class="clearfix" >
                <li>
                    <a href="/"><span>新知<i class="arrow"></i></span></a>
                    <ul class="child clearfix" >
                        <li>
                            <a href="/home/list/?cid=1">电脑数码</a>
                        </li>
                        <li>
                            <a href="/home/list/?cid=2">美食烹饪</a>
                        </li>
                        <li class="no-border">
                            <a href="/home/list/?cid=3">健康养生</a>
                        </li>
                        <li>
                            <a href="/home/list/?cid=4">时尚美容</a>
                        </li>
                        <li>
                            <a href="/home/list/?cid=5">情感家庭</a>
                        </li>
                        <li class="no-border">
                            <a href="/home/list/?cid=6">游戏攻略</a>
                        </li>
                        <li>
                            <a href="/home/list/?cid=7">职场理财</a>
                        </li>
                        <li>
                            <a href="/home/list/?cid=8">生活技巧</a>
                        </li>
                        <li class="no-border">
                            <a href="/home/list/?cid=9">体育运动</a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a target="_blank" href="http://wenda.haosou.com"><span>问答</span></a>
                </li>
                <li class="">
                    <a target="_blank" href="http://jifen.haosou.com/userMall/index"><span>知识商城</span></a>
                </li>
                <li class="">
                    <a target="_blank" href="http://bbs.360safe.com/forum-231-1.html"><span>论坛</span></a>
                </li>
                <li class="">
                    <a target="_blank" href="/luck/index">
                        <span class="no-border">活动<!-- <img class="icon" src="http://p3.qhimg.com/t018ef1ba4633ba23c3.png"> --></span>
                    </a>
                </li>
            </ul>
        </div><!--全局导航结束-->
    </div>
    <div id="bd" class="clearfix">

        <div class="aside">
            <div class="sub-nav">
                <h3>电脑数码 &gt;</h3>
                <ul class="js-tab">
                    <li><a data-type="0" href="javascript:;" class="current">最精华</a></li>
                    <li><a data-type="1" href="javascript:;">最新鲜</a></li>
                </ul>
            </div>
        </div>

        <div class="mod-items">


            <div class="item clearfix">
                <div class="pic">
                    <a text="<网站列表页>-最精华-第一条内容【点击】" target="_blank" href="http://xinzhi.wenda.so.com/a/1418638330490075">
                        <img src="http://p8.qhimg.com/t0115c56892b6d4c1ad.jpg" alt="">
                    </a>
                </div>
                <div class="info">
                    <h3>
                        <a text="<网站列表页>-最精华-第一条内容【点击】" target="_blank" href="http://xinzhi.wenda.so.com/a/1418638330490075">笔记本电脑进程太多怎么处理？
                        </a>
                    </h3>
                    <p>减少自动运行项，开机启动项一般只保留两项即可。（1）开始-运行-msconfig-启动-保留“Ctfmon(提供语言识别……和其他用户输入技术)”和“杀毒程序”（或360时实监控），其...</p>
                </div>
            </div>
            <div class="item clearfix">
                <div class="pic"><a target="_blank" href="http://xinzhi.wenda.so.com/a/1418638325490070"><img src="http://p4.qhimg.com/t015b66fe676575b07e.jpg" alt=""></a></div><div class="info"><h3><a target="_blank" href="http://xinzhi.wenda.so.com/a/1418638325490070">怎样检查USB插口是否损坏？</a></h3><p>大家在使用USB接口的时候通常会遇到各种各样的问题，那么究竟如何测试USB接口是否损坏，是否正常呢？</p></div></div>
            <div class="item clearfix">
                <div class="pic">
                    <a target="_blank" href="http://xinzhi.wenda.so.com/a/1418638318490064">
                        <img src="http://p5.qhimg.com/t01a16605559a3012d5.jpg" alt="">
                    </a>
                </div>
                <div class="info"><h3><a target="_blank" href="http://xinzhi.wenda.so.com/a/1418638318490064">怎么才能有效提高PC开机速度？</a>
                </h3>
                    <p>360安全卫士可以一键帮助提高电脑的开机速度，操作简单，效果很赞！</p>
                </div>
            </div>
            <div class="item clearfix">
                <div class="pic">
                    <a target="_blank" href="http://xinzhi.wenda.so.com/a/1418638315490061"><img src="http://p2.qhimg.com/t015fd9657b83c170db.jpg" alt=""></a></div><div class="info"><h3><a target="_blank" href="http://xinzhi.wenda.so.com/a/1418638315490061">怎么查内网和外网的ip？</a></h3><p>IP地址通常分为两种，一是内网、二是外网。内网IP一般是有路由器分配的，公司每个设备可能都有各自的内网IP；设备对外都有一个公网IP地址，即我们通常所说的外网IP地址...</p></div></div>
            <div class="item clearfix">
                <div class="pic">
                    <a target="_blank" href="http://xinzhi.wenda.so.com/a/1418638312490059">
                <img src="http://p5.qhimg.com/t01cca304bb2cb72d71.jpg" alt="">
                </a>
            </div>
                <div class="info"><h3>
                <a target="_blank" href="http://xinzhi.wenda.so.com/a/1418638312490059">怎样把360云盘空间扩到更大？</a>
            </h3>
                    <p>如何扩充360云盘空间？光扩容仅仅获取最多5G空间，用下面方法可以轻松达到36T空间，一般人绝对够用了</p>
            </div>

            </div>
            <div class="pagination" id="list-page">
                <p class="pages">
                    <b>1</b>
                    <a href="?cid=1&amp;pn=1">2</a>
                    <a href="?cid=1&amp;pn=1" class="next">下一页&gt;</a>
                </p>
        </div>
        </div>



        </div>

    <div id="ft">
        <ul class="nav">
            <li class="first"><a target="_blank" href="http://wenda.haosou.com/other/help">帮助</a></li>
            <li><a target="_blank" id="feedback" href="#">用户反馈</a></li>
            <li><a target="_blank" href="http://wenda.haosou.com/sundry/tortindex">侵权投诉</a></li>
            <li><a target="_blank" href="http://bbs.360safe.com/forum-231-1.html">论坛</a></li>
            <li><a target="_blank" href="http://e.weibo.com/qihooask">官方微博</a></li>
        </ul>
        <p class="copyright">Copyright © 360.CN 奇虎360旗下搜索服务&nbsp;&nbsp;&nbsp;
            <a target="_blank" href="http://www.miibeian.gov.cn/">京ICP备08010314号-19   京公网安备110000000006号</a>
        </p>
    </div>
</div>



</body>
</html>