<DIV style="CLEAR: both; MARGIN: 5px auto; TEXT-ALIGN: center">Powered by <a href="http://www.ask2.cn/" target="_blank">ASK2</a> {ASK2_VERSION}&nbsp;&copy; 2016-2025  ASK2.</DIV>
</TR>
</TBODY>
</TABLE>
<script type="text/javascript">
    $(document).ready(function() {
        $("#timestart").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "yy-mm-dd"
        });
        $("#timeend").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "yy-mm-dd"
        });
    });
</script>
</BODY>
</HTML>